<meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <section class="about-us">
    <h1>Who We Are</h1>
    <h2>We provide a unique platform through which customers can search for the dentists who stay nearby; the dentists can search from a variety of dental products and buy the ones they want; and the manufacturers can upload their products for the dentists.</h2>
    </section>
  <section class="about-us">
    <h1>Our Mission</h1>
    <h2>We want to give online dental service for everyone </h2>
  </section>

  <div class="services"> 
    <h2>Services we offer</h2>
    <div class="service">
      <h3>for Customers</h3>
      <p>customers can book an apponitment of any dentist near them using our platform</p>
    </div>
    <div class="service">
      <h3>for Dentist</h3>
      <p>Dentist can buy a dental products from manufacturer companies using our platform</p>
    </div>
    <div class="service">
      <h3>for Manufacturer</h3>
      <p>Manufacturer can sale their dental products to dentist using our platform</p>
    </div>
  </div>

  <!-- <ngb-carousel *ngIf="images" [showNavigationArrows]="showNavigationArrows" [showNavigationIndicators]="showNavigationIndicators">
    <ng-template ngbSlide *ngFor="let image of images">
      <div class="picsum-img-wrapper">
        <img [src]="image" alt="Random slide">
      </div>
      <div class="carousel-caption">
        <h3>No mouse navigation</h3>
        <p>This carousel hides navigation arrows and indicators.</p>
      </div>
    </ng-template>
  </ngb-carousel> -->

<section class="cards">
  <h2>Our Leaders</h2>
  <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="assets/images/manufacturer-01.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="assets/images/dentist-01.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="assets/images/team-2.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="assets/images/team-3.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</section>

<footer id="footer">
    <div class="row">             
        <div class="col-4 offset-1 col-sm-2">
            <h5 style="color: white; font-weight:bold;">LINKS</h5><br>
            <ul class="list-unstyled">
                <li><a href="#" style="color: white;">Home</a></li>
                <li><a href="aboutus.html" style="color:white;">About</a></li>
                <li><a href="#" style="color: white;">Contact</a></li>
            </ul>
        </div>
        <div class="col-7 col-sm-5">
            <h5 style="color: white; font-weight:bold;">Our Address</h5><br>
            <address style="
                            font-size: 100%;
                            margin: 0px;
                            color:white;
                        ">
              121, PCCOE<br>
              Pimpri-Chinchwad, Pune<br>
              Maharashtra<br>
              
              <i class="fa fa-phone fa-lg"></i> +852 1234 5678<br>
              <i class="fa fa-fax fa-lg"></i>+852 8765 4321<br>
              <i class="fa fa-envelope fa-lg"></i><a href="mailto:pccoe@college.net">pccoe@college.net</a>
            </address>
        </div>
        <div class="col-12 col-sm-4 align-self-center">
            
            <div class="text-center">
                 <a class="btn btn-social-icon btn-google" href="http://google.com/+" style="color: white;" data-toggle="tooltip" data-placement="bottom" title="See Us In Google Plus"><i class="fa fa-google-plus"></i></a>
                <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php" style="color: white;" data-toggle="tooltip" data-placement="bottom" title="See Us In Facebook"><i class="fa fa-facebook"></i></a>
                <a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/" style="color: white;" data-toggle="tooltip" data-placement="bottom" title="See Us In LinkedIn"><i class="fa fa-linkedin"></i></a>
                <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/" style="color: white;" data-toggle="tooltip" data-placement="bottom" title="See Us In Twitter"><i class="fa fa-twitter"></i></a>
                <a class="btn btn-social-icon btn-google" href="http://newsfeed.com/" style="color: white;" data-toggle="tooltip" data-placement="bottom" title="News Feed"><i class="fa fa-newspaper-o" aria-hidden="true"></i></a>
                <a class="btn btn-social-icon" href="mailto:shubham@gmail.com" data-toggle="tooltip" data-placement="bottom" title="Mail US"><i class="fa fa-envelope-o" style="color: white;"></i></a>
            </div>
        </div>
   </div>
   <br>
  <p class="copyright">© Copyright 2021 Phamoss</p>
</footer>