<div class="container">
    <h1> Signup</h1>
    <hr />
    <div class="row">
      <div class="col-md-6">
        <form>
            <div class="form-group" >
                <input type="text" name="username" class="form-control" placeholder="Name" required/>
            </div>
            <br>
            <div class="form-group" >
                <input type="tel" name="contact" class="form-control" placeholder="Contact" required/>
            </div>
            <br>
            <div class="form-group" >
                <input type="email" name="email" class="form-control" placeholder="Email" required/>
            </div>
            <br>
            <div class="form-group" >
                <input type="date" name="dob" class="form-control" placeholder="DOB" required/>
            </div>
            <br>
            <div class="form-group" >
                <input type="password" name="password" class="form-control" placeholder="Password" required/>
            </div>
            <br>
            <div class="form-group">
                <input type="password" name="confirmpass"  class="form-control" placeholder="Confirm Password" required/>
            </div>
            <br>
            <div class="form-group">
                <button class="btn btn-info">Register</button>
            </div>
            <br>
        </form>
      </div>
    </div>
  </div>
  <footer id="footer">
    <div class="row">             
        <div class="col-4 offset-1 col-sm-2">
            <h5 style="color: white; font-weight:bold;">LINKS</h5><br>
            <ul class="list-unstyled">
                <li><a href="#" style="color: white;">Home</a></li>
                <li><a href="aboutus.html" style="color:white;">About</a></li>
                <li><a href="#" style="color: white;">Contact</a></li>
            </ul>
        </div>
        <div class="col-7 col-sm-5">
            <h5 style="color: white; font-weight:bold;">Our Address</h5><br>
            <address style="
                            font-size: 100%;
                            margin: 0px;
                            color:white;
                        ">
              121, PCCOE<br>
              Pimpri-Chinchwad, Pune<br>
              Maharashtra<br>
              
              <i class="fa fa-phone fa-lg"></i> +852 1234 5678<br>
              <i class="fa fa-fax fa-lg"></i>+852 8765 4321<br>
              <i class="fa fa-envelope fa-lg"></i><a href="mailto:pccoe@college.net">pccoe@college.net</a>
            </address>
        </div>
        <div class="col-12 col-sm-4 align-self-center">
            
            <div class="text-center">
                 <a class="btn btn-social-icon btn-google" href="http://google.com/+" style="color: white;" data-toggle="tooltip" data-placement="bottom" title="See Us In Google Plus"><i class="fa fa-google-plus"></i></a>
                <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php" style="color: white;" data-toggle="tooltip" data-placement="bottom" title="See Us In Facebook"><i class="fa fa-facebook"></i></a>
                <a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/" style="color: white;" data-toggle="tooltip" data-placement="bottom" title="See Us In LinkedIn"><i class="fa fa-linkedin"></i></a>
                <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/" style="color: white;" data-toggle="tooltip" data-placement="bottom" title="See Us In Twitter"><i class="fa fa-twitter"></i></a>
                <a class="btn btn-social-icon btn-google" href="http://newsfeed.com/" style="color: white;" data-toggle="tooltip" data-placement="bottom" title="News Feed"><i class="fa fa-newspaper-o" aria-hidden="true"></i></a>
                <a class="btn btn-social-icon" href="mailto:shubham@gmail.com" data-toggle="tooltip" data-placement="bottom" title="Mail US"><i class="fa fa-envelope-o" style="color: white;"></i></a>
            </div>
        </div>
   </div>
   <br>
  <p class="copyright">© Copyright 2021 Phamoss</p>
</footer>